/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {

    --main-font: "IBM Plex Mono";
    --background-color: #FFF1F7; 
    --main-text-color: #353430;
    --title-text-color: #000028;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --main-image: url(../images/cover-image-light.png);
    --white-color: #fff1f7;
    --title-text: var(--title-shadow);
    --main-text: var(--main-text-color);
    --main-title-text: var(--title-text-color);
    --heading-title-text: var(--title-color);
    --main-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    --rec-visibility: hidden;
    --btn-hover: #ff007040; 
    
  }



  @media (prefers-color-scheme: light) {
     :root {
      --main-font: "IBM Plex Mono";
      --background-color: #FFF1F7; 
      --main-text-color: #353430;
      --title-text-color: #000028;
      --title-color: #FFC2E6;
      --title-shadow: #FF8DCB;
      --main-image: url(../images/cover-image-light.png);
      --white-color: #fff1f7;
      --title-text: var(--title-shadow);
      --main-text: var(--main-text-color);
      --main-title-text: var(--title-text-color);
      --heading-title-text: var(--title-color);
      --main-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
      --rec-visibility: hidden;
      --btn-hover: #ff007040; 
     }
    }